<div class="bg-black">
  <div class="image-container bg-center center cover intro-page">
    {{ range $index, $e := .slideshow}}
      <img src="{{.Permalink}}{{.image}}" class="br0" />
    {{ end }}
  </div>
  <div class="center">
    <div class="db mb3 absolute mt5 mt0-ns pa3 br1 center" style="bottom:15%;">
      <!-- {{ if .title }}
      <div class="mw6 bg-fix-primary relative mb1 intro1">
        <h1 class="f2 b di lh-title mb1 white mw6">
          {{.title}}
        </h1>
      </div>
      {{ end }} -->
      <div class="mw6 mw7-ns bg-fix-primary relative intro1">
        {{ if .subtitle }}
        <div class="f3 f2-ns di lh-title mb3 white">
          {{.subtitle}}
        </div>
        <br /><hr style="background-color:white;" />
        {{ end }}
        {{ if .cta }}
        <div class="intro2">
          <a href="{{ .link }}" class="b no-underline raise white link">→ {{ .cta }}</a>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
