<nav class="nav overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-black divider white fixed w-100 z-999">

	<a href="/" class="pa3 db mr4 h-100 w3 flex-none no-underline">
		<!-- <h2><nobr><strong>Sharif Ezzat</strong> // Creative Director</nobr></h2> -->
		<img src="/img/logo.png" class="mw3" />
	</a>

	<!-- Primary Nav -->
	<div class="nav-p">
		<ul class="flex b grey-3 f6">
	        {{ $currentPage := . }}
	        {{ range .Site.Menus.main }}
                <li class="b white {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                    <a href="{{ .URL }}" class="pa3 no-underline db">{{ .Name }}</span>
                    </a>
                </li>
	        {{ end }}	
		</ul>
	</div>
	<div class="nav-r">
        <a class="ph3 white no-underline f3" onclick="openSidenav();">&#9776;</a>
    </div>

</nav>

