<nav class="nav overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-black divider-grey white fixed w-100 z-999">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none no-underline">
		<!-- <img src="/img/logo.svg" alt="Kaldi logo" class="br0 db mb0 w-100"/> -->
		<h2><nobr><strong>Sharif Ezzat</strong> // Creative Director</nobr></h2>
	</a>

	<!-- Primary Nav -->
	<div class="nav-p">
		<!-- <ul class="flex b grey-3 f6">
			<li><a href="/about" class="pa3 no-underline db">ABOUT</a></li>

			<li><a href="/post" class="pa3 no-underline db">WORK</a></li>

			<li><a href="/contact" class="pa3 no-underline db">CONTACT</a></li>
		</ul> -->
		<ul class="flex b grey-3 f6">
	        {{ $currentPage := . }}
	        {{ range .Site.Menus.main }}
                <li class="b white {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                    <a href="{{ .URL }}" class="pa3 no-underline db">{{ .Name }}</span>
                    </a>
                </li>
	        {{ end }}	
		</ul>
	</div>
	<div class="nav-r">
        <a class="ph3 white no-underline f3" onclick="openSidenav();">&#9776;</a>
    </div>

</nav>

